@media screen and (max-width: 320px) {
	#top_left {
		padding: 7px 15px;
	}
	#logo {
		max-height: 50px;
	}
	.navbar-toggle, .loupeMobile {
		margin-top: 12px;
	}
}
@media screen and (max-height: 320px) {
	#top_left {
		padding: 7px 15px;
	}
	#logo {
		max-height: 50px;
	}
	.navbar-toggle, .loupeMobile {
		margin-top: 12px;
	}
	#googlemaps {
		height: 200px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	/*.ui-icon-fleche-bas:after, .ui-icon-fleche-haut:after {
		background-size: 21px 21px;
	}*/
}